
body {
    text-align: center;
    color: white;
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/4623.png');
    background-size: cover;
    
}

img {
    background: none;
}

.hover-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #3498db;
    position: relative;
    border-radius: 5px;
    transition: transform 0.3s;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
}

/* Style for the hover effect */
.hover-button:hover {
    background-color: #3498db;
    color: white;
}